#about{
    h2{
        margin-bottom: 50px;
    }

    p{
        font-weight: 300;
        margin-bottom: 20px;
    }

    h6{
        font-size: .9rem;
    }

    span{
        font-size: 3rem;
        font-weight: 300;
        color: red;
    }
}