footer{
    margin: 50px 0;
    p{
        span, i{
            color: red;
            font-weight: bold;
        }

        span{
            margin-left: 5px;
        }
    }

    ul{
        li{
            width: 40px;
            height: 40px;
            border-radius: 25px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin: 0 10px;
        }
    }
}