#services{
    padding: 100px 0;
    h5{
        font-family: $secondary-font;
    }
    p{
        font-size: .9rem;
        font-weight: 500;
    }
    i{
        color: red;
        font-weight: 300;
        font-size: 2rem;
    }
}